body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.saz{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.top{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 300px;}
   
a{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    color: white;
    border: 2px solid orange;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
}
a:hover{
    background-image: linear-gradient(green, blue);
}
.middle{
    background-image: url("images/dream-bg.png");
    background-repeat:no-repeat;
    background-position: right;
    
}
h2{
    font-size: 40px;
}
.single{
    box-shadow: 10px 10px 40px gray;
    width: 35%;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon,tomato);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(blue,tomato);
    border-image-slice: 1;
}
.co{
    text-align: center;
    color: blue;
}